body{
    font-family: var(--font-primary);
}
.header__controler{
    height: 15vh;

    background-color: var(--coffee-color-4);
}
.header__container{
    width: 100%;
    max-width: 800px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{

}
.logo > h1{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-4);
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu li{

}
.menu li a{
    text-decoration: none;
    color: black;
}
#menu-icon{
    display: none;
}

.main__controler{
    height: calc(100vh - 15vh);

    background-color: var(--coffee-color-3);
}
.main__container{
    width: 100%;
    max-width: 800px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: .5fr 2fr 2fr;
    align-items: center;
    justify-content: center;
}
.icons_rede{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.icons_rede i{
    width: 3rem;  
    cursor: pointer;  
}
.article__main{
    display: flex;
    flex-direction: column;

    gap: .5rem;
}
.article__main h3{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-3);
}
.article__main h2{
    font-size: 55px;
    color: var(--coffee-color-1);
}
@media(max-width:790px){
    .header__container{
        padding: 1rem;
    }
    .menu{
        display: none;
    }
    #menu-icon{
        display: inline-block;
    }
    .main__container{
        display: grid;
    grid-template-columns: .5fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    }


}